{% extends "base.html" %}

{% block content %}

<div class="container login-container form-sheet">


    {% if error %}
    <div class="alert alert-danger" role="alert">
        <strong>Uh oh:</strong> {{ error }}
    </div>
    {% endif %} {% if success %}
    <div class="alert alert-success" role="alert">
        <strong>Awesome!</strong> {{ success }}
    </div>
    {% endif %}

    <!-- <div class="alert alert-info" role="alert">
    <strong>Head's up:</strong>
    We're having some trouble with our password resetting. If you're having
    trouble getting into your account, please come back later. This note will
    be gone when it's fixed!
  </div> -->

    <div class="login-form">

        <form action="{{ url_for('login') }}" method=post>

            <h2>Login</h2>
            <input type="email" class="form-control textbox" id="register-email" name=email placeholder="Email" required>

            <input type="password" class="form-control textbox" id="register-password" name=password placeholder="Password" required>

            {% if insertrecaptcha %}
            <br /> {{ recaptcha }}
            <br /> {% endif %}

            <br />
            <input id="btn-submit" class="btn btn-full-color" type=submit value="Log In">
        </form>

        <button id="forgot-password" data-toggle="modal" data-target="#forgot-password-modal">Forgot your password?</button>

        <hr />
        <input class="btn btn-outline" value="Register" onclick="location.href='{{url_for('register')}}';">

    </div>


</div>

<!-- Modal -->
<div class="modal fade" id="forgot-password-modal" tabindex="-1" role="dialog" aria-labelledby="forgot-password-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Reset Password</h4>
            </div>
            <div class="modal-body">
                <p>
                    Just drop in your email, and we'll send you a new password.
                </p>
                <form action="{{url_for('reset_password')}}" method=post>
                    <input type="email" class="form-control textbox" id="reset-password-email" name=email placeholder="Enter your email" required>

                    <input class="btn btn-primary" type=submit value="Send email">
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
