@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@font-face {
  font-family: "Avenir-Next-Bold";
  src: url(../../fonts/Avenir-Next-Bold.ttf); }

/* -------------------------------------------------------------
 *  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
 *  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
 *
 *  List of CSS3 Sass Mixins File to be @imported and @included as you need
 *
 *  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
 *  ENDING css files
 *
 *  note: All CSS3 Properties are being supported by Safari 5
 *  more info: http://www.findmebyip.com/litmus/#css3-properties
 *
 *------------------------------------------------------------- */
a {
  color: #afafaf; }
  a:hover {
    color: #191919;
    text-decoration: none; }

h1, h2, h3, h4, h5 {
  font-family: "Avenir-Next-Bold", sans-serif; }

.block {
  height: 100%;
  max-height: 900px; }
  @media screen and (max-width: 1100px) {
    .block {
      max-height: 700px; } }
  @media screen and (max-width: 768px) {
    .block {
      max-height: 600px; } }

.sheet {
  background-color: #ffffff;
  color: #191919;
  padding: 48px 0 128px 0; }

.sheet-gap {
  height: 100px;
  background-color: rgba(255, 140, 0, 0.5); }

.btn-primary {
  background-color: #ff6e40;
  border-color: #ff6e40; }
  .btn-primary:hover {
    background-color: #ffffff;
    color: #ff6e40;
    border-color: #ff6e40; }

.btn-base, .btn-full-color, .btn-outline {
  font-size: 12px;
  border-radius: 100px;
  padding: 4px 48px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  min-width: 220px; }
  @media screen and (min-width: 500px) {
    .btn-base, .btn-full-color, .btn-outline {
      font-size: 18px; } }

.btn-full-color {
  border: 3px solid #ff6e40;
  background-color: #ff6e40;
  color: #ffffff; }
  .btn-full-color:hover {
    background: #ffffff;
    border-color: #ffffff;
    color: #ff6e40; }

.btn-outline {
  border: 3px solid #ffffff;
  background-color: transparent;
  color: #ffffff; }
  .btn-outline:hover {
    background-color: #ffffff;
    color: #ff6e40; }

.navbar .container-fluid {
  padding: 0px; }

.navbar-container {
  margin-top: 32px; }

.navbar-default {
  z-index: 1024;
  background-color: transparent;
  border-radius: 0;
  border-width: 0; }
  .navbar-default .navbar-brand {
    font-family: "Avenir-Next-Bold", sans-serif;
    color: #ffffff;
    font-size: 22px; }
    .navbar-default .navbar-brand:hover {
      color: #ffffff; }
    @media screen and (min-width: 1100px) {
      .navbar-default .navbar-brand {
        font-size: 50px; } }
  .navbar-default .navbar-nav li a {
    font-weight: 700;
    color: #ffffff; }
    .navbar-default .navbar-nav li a:hover {
      color: #ffe902; }

.navbar-nav {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px; }

.dropdown-menu > li > a {
  color: #191919 !important; }

@media (min-width: 768px) {
  .nav {
    float: right !important; } }

html {
  height: 100%;
  background-color: #373560;
  background-image: url("../../assets/star-cloud-tile.png");
  background-repeat: repeat;
  background-attachment: fixed; }

body {
  height: 100%;
  color: #191919;
  font: 16px/1 "Open Sans", sans-serif;
  position: relative;
  line-height: 1.8;
  background: linear-gradient(rgba(255, 0, 0, 0), rgba(255, 140, 0, 0.5)); }

#main {
  padding-top: 24px; }

.footer {
  z-index: 10;
  background-color: #ff6e40;
  padding: 48px;
  font-size: 14px; }
  .footer ul {
    list-style: none;
    padding-left: 0px; }
  .footer li {
    line-height: 1.3; }
  .footer a {
    color: #afafaf; }

@media (min-width: 1200px) {
  .container {
    max-width: 970px; } }

.banner {
  text-transform: uppercase;
  margin-top: -70px;
  padding-top: 70px; }
  .banner h1 {
    font-size: 36px;
    text-shadow: -3px 0px 0px rgba(255, 233, 2, 0.4);
    line-height: 0.9;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #ffe902; }
    @media screen and (min-width: 500px) {
      .banner h1 {
        font-size: 56px; } }
    @media screen and (min-width: 768px) {
      .banner h1 {
        font-size: 78px; } }
    @media screen and (min-width: 1300px) {
      .banner h1 {
        font-size: 96px; } }
  .banner h2 {
    font-size: 30px;
    text-shadow: -3px 0px 0px rgba(233, 233, 233, 0.4);
    line-height: 0.8;
    color: #ffffff; }
    @media screen and (min-width: 500px) {
      .banner h2 {
        font-size: 38px; } }
    @media screen and (min-width: 768px) {
      .banner h2 {
        font-size: 44px; } }
    @media screen and (min-width: 1300px) {
      .banner h2 {
        font-size: 76px; } }
  @media screen and (max-width: 768px) {
    .banner {
      text-align: center; } }

.about {
  background-color: #ffffff; }
  .about p {
    font-weight: 500;
    font-size: 18px; }
  .about .hashtag {
    color: #ff6e40; }

#faqs p {
  font-size: 18px; }

.sponsors {
  min-height: 75%;
  padding: 48px 0px 48px 0px; }
  .sponsors h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700; }

.sponsor-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 24px; }

.sponsor-wrap {
  justify-content: center;
  align-self: center; }
  .sponsor-wrap .sponsor-img {
    max-width: 150px;
    margin: 20px;
    max-height: 100px; }
  .sponsor-wrap .sponsor-img-medium {
    max-width: 200px;
    margin: 20px; }
  .sponsor-wrap .sponsor-img-large {
    max-width: 350px;
    margin: 20px; }
  .sponsor-wrap #harris {
    padding-top: 11%; }
