// includes color, type, generics, navbar
@import "page.sass"

// Banner
.banner
	text-transform: uppercase

	// This pulls the banner behind the navbar
	margin-top: -70px
	padding-top: 70px

	h1
		@include font-size($h1b-font-sizes)
		@include text-shadow(-3px, 0px, 0px, rgba(255, 233, 2, 0.4))
		line-height: 	0.9
		font-family: 	$banner-font
		font-weight: 	700
		color:			$banner-yellow

	h2
		@include font-size($h2b-font-sizes)
		@include text-shadow(-3px, 0px, 0px, rgba(233, 233, 233, 0.4))
		line-height: 	0.8
		color:			$white


	@media screen and (max-width: 768px)
		text-align: center


// About
.about
	background-color: $white

	p
		font-weight: 500
		font-size: 18px

	.hashtag
		color: $accent

// FAQ
#faqs
	p
		font-size: 18px


// Sponsors
.sponsors
	min-height: 75%
	padding: 			48px 0px 48px 0px

	h1
		font-family: 	$banner-font
		font-weight: 	700

.sponsor-row
	display: flex
	flex-wrap: wrap
	justify-content: center
	margin-bottom: 24px

.sponsor-wrap
	justify-content: center
	align-self: center

	.sponsor-img
		max-width: 150px
		margin: 20px
		max-height: 100px

	.sponsor-img-medium
		max-width: 200px
		margin: 20px

	.sponsor-img-large
		max-width: 350px
		margin: 20px


	#harris
		padding-top: 11%
