{% extends "/super/page.html" %}
{% block content %}

<div class="container form-container">
Aww crap. There's been an error. Do us huge favor, and tell us about what happened
by clicking <strong><a href="mailto:hello@acmatfsu.org?subject=Website-Error">here</a></strong>.
<br />
<br />
Cheers!

{% endblock %}
