{% extends "base.html" %}

{% block styles %}
	{{ super() }}
	<link rel="stylesheet" href="{{url_for('static', filename='styles/css/index.css')}}">
{% endblock %}

<!-- Content in here -->
{% block content %}

	<div class="container block banner">

		<!-- <div class="parallax-window"
			data-parallax="scroll"
			data-image-src="{{url_for('static', filename='assets/star-cloud-tile.png')}}"> -->

			<h1 class="">Spring</h1>
			<h1 class="">Programming</h1>
			<h1 class="">Contest 2017</h1>
			<br />
			<h2 class="">March 25th</h2>
			<h2 class="">8AM – 4PM</h2>

			<br />

			<button class="btn-full-color" onclick="location.href='/register';">Register</button>
			<button class="btn-outline" onclick="location.href='mailto:hello@acmatfsu.org';">Sponsor Us</button>

			<!-- <h2><a href="/preregister" class="hlink">Preregister Now</a></h2> -->
		<!-- </div> -->

	</div>

	{% include '/includes/about.html' %}

	<div class="sheet-gap">
	</div>

	{% include '/includes/faqs.html' %}

	<div class="sheet-gap">
	</div>

	{% include '/includes/sponsors.html' %}

	<div class="sheet-gap">
	</div>

{% endblock %}


<!-- Put scripts here -->
{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}
